<div class="md:w-52 md:h-72 w-40 h-60  bg-black m-auto rounded-md overflow-hidden hover:scale-105 duration-300 flex-none relative  ">
  <a href="/download/<%= name %>" title="capa do jogo <%= name.replace(/-/g, ' ') %>">
    <img src="/cover/<%= img %>" id="componentCover" onerror="imageError()" alt="" class=" h-full w-full object-cover obg">
  </a>


  <div class="absolute bottom-2 right-2 flex space-x-2">
    <!-- DOWNLOADS -->
    <% if (typeof downloads !== 'undefined' && downloads > 0 ) { %>
      <div class=" bg-gray-900 px-4 rounded-full py-1   text-white z-50 flex items-center space-x-3">
        <span >
          <img src="/icons/icons8-baixar-52.png"  class="w-4" alt="">
        </span>
        <p><%= downloads %></p>
      </div>
    <% } %>
        
    <!-- VISUALIZAÇÕES -->
    <% if (typeof views !== 'undefined' && views > 0 ) { %>
      <div class=" bg-gray-900 px-4 rounded-full py-1   text-white z-50 flex items-center space-x-3">
        <span >
          <img src="/icons/icons8-visível-90.png"  class="w-4" alt="">
        </span>
        <p><%= views %></p>
      </div>
    <% } %>
    
  </div>


</div>

<script>
  function imageError() {
    // Seleciona a imagem
    var imagem = document.querySelector('#componentCover');

    // Substitui a src da imagem pela imagem padrão
    imagem.src = '/default-img-cover.webp';

    // Opcional: Pode definir um texto alternativo para a imagem padrão
    imagem.alt = 'Imagem Padrão';
  }

</script>