<div class="md:w-96 w-[90%] m-auto my-10">
    <div class="flex justify-between mt-4 bg-white m-auto">
        <a href="<%= page > 1 ? '/page/' + (page - 1) : '/' %>" class="px-2 py-1 bg-blue-600 hover:bg-blue-500 hover:shadow-md duration-300 text-white">Anterior</a>
        <div class="flex justify-around m-auto border w-72">
            <% 
                const maxPagesToShow = 5;
                const halfMaxPagesToShow = Math.floor(maxPagesToShow / 2);
                const startPage = Math.max(1, Math.min(page - halfMaxPagesToShow, totalPages - maxPagesToShow + 1));
                const endPage = Math.min(totalPages, startPage + maxPagesToShow - 1);
            %>

            <% for (let i = startPage; i <= endPage; i++) {  %>
                <a href="/page/<%= i %>" class="font-semibold <%= parseInt(i) === parseInt(page) ? 'bg-blue-600 text-white' : 'text-blue-600' %> px-2 py-1 hover:bg-blue-300"><%= i %></a>

            <% } %>
        </div>


        <a href="<%= page < totalPages ? '/page/' + (parseInt(page) + 1) : '/page/' + totalPages %>" class="px-2 py-1 bg-blue-600 hover:bg-blue-500 hover:shadow-md duration-300 text-white ml-auto ">Próximo</a>
    </div>
</div>
