<!-- comentarios.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comentários dos Jogos</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <main class="m-auto max-w-screen-md">

        <h1 class="text-center text-2xl py-5">Comentários dos Jogos</h1>

       
        
        <% if (array.length === 0) { %>
            <p>Nenhum jogo com comentários encontrado.</p>
            <% } else { %>
                <ul class="p-5 space-y-5">
                    <% array.forEach(jogo => { %>
                        <% console.log(jogo.comments) %>

                        <li class="border p-2 bg-gray-300">
                            <strong>Nome do Jogo:</strong> <%= jogo.name %>
                            <br>
                            <strong>Ultimo comentario:</strong> <%= jogo.comments[jogo.comments.length-1].date %>
       
                            <br>
                            <a href="/download/<%= jogo.name.replace(/ /g, '-').toLowerCase() %>" target="_blank"><strong >Ir para Página:</strong > <span class="text-blue-500"><%= jogo.name %></span></a>
                            
                            <br>
                            <strong>Comentários:</strong>
                            <ul>
                                <% jogo.comments.forEach(comentario => { %>
                                    <li class="ml-10"><span class="bg-yellow-500"><%= comentario.user %>:</span> <%= comentario.commit %></li>
                                <% }); %>
                            </ul>
                        </li>

                    <% }); %>
                </ul>
            <% } %>
    </main>
</body>
</html>
