<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NXNEHR3E8D"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-NXNEHR3E8D');
    </script>

    <!-- GOOGLE ADS -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3260819922434722"
    crossorigin="anonymous"></script>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GENERO</title>
    <meta name="description" content="Play Torrent - Os melhores jogos para baixar gratuitamente, download gratuito de games, Play Torrents oferece uma seleção de jogos de alta qualidade, garantindo uma experiência de download 100% segura e envolvente, Desfrute de games incríveis sem custo.">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/global.css">

</head>
<body class="bg-gray-900">
    
    <!-- Navbar -->
    <%- include('./components/navbar.ejs') %>

    <!-- Grid -->
    <%- include('./components/grid.ejs', {data: data, title: title}) %>

    <!-- Btn Up -->
    <%- include('./components/btnUp.ejs') %>

    <!-- Paginação -->
    <!-- <%= total %> -->

    <!-- Footer -->
    <%- include('./components/footer.ejs') %>

</body>
</html>
<script>
    //contar viwer
    fetch('/services/constView', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
    })
    .then(response => response.json())
    .then((data) => {
        console.log(data.msg);
    })
    .catch((error) => {
        console.error('Erro ao contar Download:', error);  
    });


   
</script>





