<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NXNEHR3E8D"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-NXNEHR3E8D');
    </script>

    <!-- GOOGLE ADS -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3260819922434722"
    crossorigin="anonymous"></script>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLAYTORRENT</title>
    <meta name="description" content="Play Torrent - Os melhores jogos para baixar gratuitamente, download gratuito de games, Play Torrents oferece uma seleção de jogos de alta qualidade, garantindo uma experiência de download 100% segura e envolvente, Desfrute de games incríveis sem custo.">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/global.css">

</head>
<body class="bg-gray-900">
    
    <!-- Navbar -->
    <%- include('./components/navbar.ejs') %>

    <!-- Carrosel mais visitadas -->
    <%- include('./components/carousel.ejs', {title: 'Mais Visitadas', dataCarousel: dataTopViews})%>

    <!-- Carrosel mais baixadas -->
    <%- include('./components/carousel.ejs', {title: 'Mais Baixadas', dataCarousel: dataTopDownloads})%>

    <!-- Grade de jogos -->
    <%- include('./components/grid.ejs', {data: data, title: 'Recem adicionados'}) %>

    <!-- Paginaçõa -->
    <%- include('./components/pagination.ejs', { page: page, totalPages: 150 }) %>

    <!-- Btn Up -->
    <%- include('./components/btnUp.ejs') %>

    <!-- Footer -->
    <%- include('./components/footer.ejs') %>
</body>
</html>
