<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NXNEHR3E8D"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-NXNEHR3E8D');
    </script>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Play Torrent - Os melhores jogos para baixar gratuitamente, download gratuito de games, Play Torrents oferece uma seleção de jogos de alta qualidade, garantindo uma experiência de download 100% segura e envolvente, Desfrute de games incríveis sem custo.">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>PLAYTORRENT</title>
    <meta property="description" content="Search engine description" />
    <meta property="description" content="Play Torrent - Os melhores jogos para baixar gratuitamente, download gratuito de games, Play Torrents oferece uma seleção de jogos de alta qualidade, garantindo uma experiência de download 100% segura e envolvente, Desfrute de games incríveis sem custo." />
    <meta property="og:image" content="Link preview image URL">
    <meta property="og:title" content="Link preview title">
    <meta property="og:description" content="Link preview description" />
    <meta property="og:url" content="Canonical link preview URL">
</head>
<body class="bg-gray-900">
    
    <!-- Navbar -->
    <%- include('./components/navbar.ejs') %>

    <!-- Carrosel mais visitadas -->
    <%- include('./components/carousel.ejs', {title: 'Mais Visitadas', dataCarousel: topViewr})%>
     
    <!-- Carrosel mais baixadas -->
    <%- include('./components/carousel.ejs', {title: 'Mais Baixados', dataCarousel: topDownload})%>

    <!-- Grid -->
    <%- include('./components/grid.ejs', {data: data, title: 'Recem adicionados'}) %>

    <!-- Paginaçõa -->
    <%- include('./components/pagination.ejs', { page: 0, totalPages: 150 }) %>

    <!-- Btn Up -->
    <%- include('./components/btnUp.ejs') %>

    <!-- Footer -->
    <%- include('./components/footer.ejs') %>


</body>
</html>








